<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<div>
    <div class="container">
        <div class="row">
          <div class="col-sm-15">
         
          </div>
        <span class="border border-primary">
          <div class="col-sm">            
                <h2>Conversor Unidades de Fuerza</h2>          
              <div>
                 <label>Ingrese el Valor a Convertir</label><br>
                 <label>desde:
                   <input type="number" [(ngModel)]="datoSend.dato" placeholder=""/>                        
                   <input type="string" [(ngModel)]="datoSend.unidad_dato" placeholder=""/>
                 </label><br>
                <label>Unidad Deseada: 
                  <input type="string" [(ngModel)]="datoSend.unidad_conversion" placeholder=""/>
                </label><br>
              </div>
              <button  class="btn btn-success" (click)="convertir()">Convertir</button>
          </div>
         </span>
          <div class="col-sm-15">
           
          </div>
        </div>       
      </div>  
</div><br>


<div class="container">    
    <div class="row">        
      <div class="col-sm">
     
      </div>
      <span class="border border-primary">
      <div class="col-md">
       <p> El valor:
           {{datoReceived.dato}} {{datoReceived.unidad_dato}} 
       </p> 
       <p> Equivale a:
          {{datoReceived.dato_resultado}} {{datoReceived.unidad_final}}
       </p>  
      </div>
      </span>
      <div class="col-sm">   
      </div>
    
    </div>
  
  </div>

